<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LowResPhoto.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <LowResPhoto.Properties.Settings>
      <setting name="HighResFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="WindowHeight" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="WindowWidth" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="LowResFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="NConvertFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="SkipExisting" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Concurrency" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="LongSize" serializeAs="String">
        <value>1920</value>
      </setting>
      <setting name="AutoScroll" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RetrieveMeta" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UpgradeSetting" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SelectedExistingFileAction" serializeAs="String">
        <value>OverwriteLowerRes</value>
      </setting>
    </LowResPhoto.Properties.Settings>
  </userSettings>
</configuration>